@charset "UTF-8";


div#header {
	height:100px;	/*背景画像のサイズに合わせてボックスの高さを指定*/
	background-color:#b4d090;		/*ヘッダ部分の背景色*/
}

/*div#container{
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
 }*/

 div#ruigo{
	 padding: 20px;
 }

 body{
	 margin: 0;
	 background-color: #EEEEEE;
	 font-family: "Trebuchet MS", sans-serif;
 }

.search{
	background-color: #ffffff;
  border: 3px solid #b4d090;
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

#nav{
		width: 100%;
    background-color: #908fb2;
    padding: 3px;

}


#nav ul{
		margin:0;
		padding:0;
    text-align:right;

		clear:both;
}


#nav ul li {
    display: inline;
    margin-right: 1em;

		margin-left: auto;
}


#nav ul li a {
    font-family: "Trebuchet MS", sans-serif;
    text-decoration: none;
    color: #fff;
}


#nav ul li a:hover{
    border-bottom: dotted 1px #fff;
}


table.word {
	margin: auto;
	border-collapse: separate;
	border-spacing: 1px;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	background-color: #ffffff;
}
table.word th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}
table.word td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

h1{
	/*display: inline;*/
	margin: 20px 20px 20px 20px;
  padding: 10px;
  background-color: white;
}

h2{
	padding: 10px;
	 background-color:#ffffff;
}

h3{
	padding: 10px;
}

li{
	margin: auto;
}

ul {
	margin:5px;
	padding-left:0;
  list-style:none;
}
input#submit_button {

	margin: 10px;
	display: inline;
	border-style:2px #000;
	cursor: pointer;
	border-radius: 20px;
    padding: 15px 40px;
    font-size: 1.2em;
    background-color: #908fb2;
    color: #fff;
}

form{
	display: inline;
}

.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
}
.pagetop a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.pagetop a:hover {
    display: block;
    background-color: #b2d1fb;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding:5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

div#all{
	text-align: center;
  margin: 0 auto;
	background-color: white;
	padding: 10px;
	width: 1000px;
}

div#fm{
	background-color: white;
	width: 1000px;
	margin: 0 auto;

}

hr {
	border:0;
	border-bottom:1px dashed #999;
}

#footer{
	background-color: #908fb2;
	width: auto;
	margin: auto;
	color:#fff;
	text-align:center;
	height: 70px;
}
